<ion-app>
  <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
    <stockeer-titlebar (logout)="triggerLogout()"></stockeer-titlebar>

    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </ng-container>

  <ng-template #notLoggedIn>
    <ion-content>
      <div class="login-content" @fadeInOut>
        <stockeer-auth
          [isLoading]="(authenticationInProgress$ | async) ?? false"
          (authenticate)="triggerLogin($event)"
        ></stockeer-auth>
      </div>
    </ion-content>
  </ng-template>
</ion-app>
